
  @import url(
    "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

    * {
      font-family: 'Lato', sans-serif;
     }


body {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 50%;
    padding: 60px 0px;
  }

  /* MENU: NAVBAR/HEADER */

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  nav {
    background-color:rgba(104, 12, 12, 0.925);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }

  img {
    width: 80px;
    height: 80px;
    padding-left: 10px;
    padding-bottom: 8px;
  }

  nav ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    text-align: right;
  }

  nav ul li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    display: inline;
    padding: 6px;
  }

  nav ul li a {
    color: #eeeeee;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    width: 100%;
    display: inline;
  }

  nav ul li a:hover {
    color: rgb(240, 177, 60);
  }

  /* SECTION MAIN IMAGE */

  #section-main-image {
    height: 50vh;
    background-image: url("https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  #section-main-image h1 {
    color:  rgba(255, 255, 255, .7) ;
    margin: 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* SECTION COFFEE */

  #section-coffee {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    text-align: center;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    padding: 0 15px;
  }

  .product img {
    width: 30px;
  }

  #reservas {
    margin: 40px 0px 20px 0px;
  }
  
  form label {
    display: block;
  }
  
  label{
    display: block;
    margin-top: 0.5rem 0;
    padding: 6px;
  }


  /* FOOTER CONTACT */

  #footer-contact {
    background-color: #58462c;
    color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footer-contact .contact-data {
    display: flex;
    justify-content: space-between;
  }

  .contact-form form {
    margin-left: 50px;
    text-align: right;
  }

  .contact-form form .form-control {
    padding: 10px 0;
  }

  .contact-form form .form-control label {
    margin-right: 15px;
  }

  .contact-form form button {
    margin-top: 15px;
    color: #58462c;
    padding: 2px 30px;
  }